<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATA_Tier.Properties.Settings.connectstring" connectionString="Data Source=DELL3558;Initial Catalog=QLSinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>