<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DATA_Tier.Properties.Settings.connectstringLong" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLSinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DATA_Tier.Properties.Settings.connectstringPhu" connectionString="Data Source=DELL3558;Initial Catalog=QLSinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DATA_Tier.Properties.Settings.connectstringNhi" connectionString="Data Source=desktop-2vgdshc;Initial Catalog=QLSinhVien;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>